* {
    margin: 0;
    padding: 0;
}

html {
    color: white;
    height: 100%;
}

body {
    height: 100%;
}

#game {
    background-image: url(../images/background.jpg);
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* ========== Opponent Cards Hand ========== */

.cardsOpponentHand {
    display: flex;
    flex-direction: column;
    background-color: green;
    /*background-image: url(../images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 50%;*/
    border: solid black 5px;
    width: 80px;
    height: 70%;
    box-shadow: 4px 3px 8px 1px black;
}

/* ========== Opponent Cards ========== */

.cardsOpponent {
    display: flex;
    flex-direction: column;
    background-color: green;
    border: solid black 5px;
    width: 200px;
    height: 95%;
    box-shadow: 4px 3px 8px 1px black;
}

.cardsOpponent:hover {
    border: solid white 5px;
    cursor: pointer;
}

.cardsOpponent .img {
    flex: 1;
    width: 95%;
    height: 90px;
    display: block;
    padding-top: 5px;
    margin: auto;
}

.cardsOpponent .mechanics {
    background-color: white;
    border: solid black 2px;
    flex: 5;
    display: flex;
    margin: auto;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    color: black;
}

.cardsOpponent .cost-atk-hp {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

    .cardsOpponent .cost {
        flex: 1;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .cardsOpponent .atk {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cardsOpponent .hp {
        flex: 1;
        display: flex;
        justify-content: right;
        align-items: center;
    }

/* ========== Player Cards ========== */

.cards {
    display: flex;
    flex-direction: column;
    background-color: royalblue;
    border: solid black 5px;
    width: 200px;
    height: 95%;
    box-shadow: 4px 3px 8px 1px black;
}

.cards:hover {
    border: solid white 5px;
    cursor: pointer;
}

.img {
    flex: 1;
    width: 95%;
    height: 90px;
    display: block;
    padding-top: 5px;
    margin: auto;
}

.mechanics {
    background-color: white;
    border: solid black 2px;
    flex: 5;
    display: flex;
    margin: auto;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    color: black;
}

.cost-atk-hp {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

    .cost {
        flex: 1;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .atk {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hp {
        flex: 1;
        display: flex;
        justify-content: right;
        align-items: center;
    }

/* ========== Besoin pour le status du joueur et de l'opponent ========== */

#left {
    flex: 3;
    display: flex;
}

#middle {
    flex: 1;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

#right {
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* ========== Interface de l'opponent ========== */

#opponent-UI {
    background-image: url(../images/border_01.png);
    background-repeat: repeat-x;
    background-position: bottom;
    flex: 1;
    display: flex;
    flex-direction: row;
}

    #opponent-hand {
        /*background-image: url(../images/DarkOrbBorder.png);
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        z-index: 1;*/

        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        gap: 10px;
    }

    #opponent-UI-middle {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    #img-middle {
        position: absolute;
    }

    #opponent-UI-right {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

/* ========== Interface du joueur ========== */

#player-UI {
    background-image: url(../images/border_02.png);
    background-repeat: repeat-x;
    background-position: top;
    flex: 2;
    display: flex;
    flex-direction: column;
}

#player-hand {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
    gap: 20px;
}

/* ========== Board du jeu ========== */

#big-board {
    flex: 4;
    display: flex;
    background-image: url(../images/Environment_Bilefen.jpg);
    background-position: center;
    background-size: 100% 100%;
}

#board-middle {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    #opponent-board {
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #status-text {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #status-left { flex: 1; }
        #status-middle {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #status-right {
            flex: 1;
            display: flex;
            justify-content: right;
            align-items: center;
        }

    #player-board {
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

/* ====================================================================== */
/* Player and Opponent HP, Mana, etc. */
/* ====================================================================== */

#board-left {
    background-color: rgba(0, 0, 0, 0.5);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#opponent-status {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    #opponent-name {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #opponent-hp {
        flex: 1;
        background-image: url(../images/life.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50% 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #opponent-mana {
        flex: 1;
        background-image: url(../images/mana.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50% 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

#player-status {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    #player-name {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #player-hp {
        flex: 1;
        background-image: url(../images/life.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50% 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;;
    }

    #player-mana  {
        flex: 1;
        background-image: url(../images/mana.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50% 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

/* ====================================================================== */
/* Player & Opponent cards left in deck */
/* ====================================================================== */

#board-right {
    background-color: rgba(0, 0, 0, 0.5);
    flex: 1;
    display: flex;
    flex-direction: column;
}

    #opponent-cards-in-deck {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: green;

        /*background-image: url(../images/card.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50% 50%;*/
    }

    #player-cards-in-deck {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: royalblue;

        /*background-image: url(../images/card.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50% 50%;*/
    }

/* ====================================================================== */
/* Hero Power & End Turn */
/* ====================================================================== */

#hero-power {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #btn-hero-power {
        background-image: url("../images/btn_hero_power_off.png");
        width: 174px;
        height: 51px;
        display: block;
        align-self: center;
        border: 0;
        cursor: pointer;
    }

    #btn-hero-power:hover {
        background-image: url("../images/btn_hero_power_on.png");
    }

#end-turn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #btn-end-turn {
        background-image: url("../images/btn_end_turn_off.png");
        width: 174px;
        height: 51px;
        display: block;
        align-self: center;
        border: 0;
        cursor: pointer;
    }

    #btn-end-turn:hover {
        background-image: url("../images/btn_end_turn_on.png");
    }