* {
    margin: 0;
    padding: 0;
}

html {
    color: white;
    height: 100%;
}

body {
    height: 100%;
}

#game {
    background-image: url(../images/background.jpg);
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* ========== Opponent Cards Hand ========== */

.cardsOpponentHand {
    display: flex;
    flex-direction: column;
    background-image: url(../images/card_back.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 100%;
}

/* ========== Cards ========== */

.cards {
    display: flex;
    flex-direction: column;
    background-image: url(../images/04.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 100%;
    gap: 10px;
    box-shadow: 4px 3px 8px 1px black;
}

.cards:hover {
    cursor: pointer;
}

.state-cost {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

    .state-cost-first {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cost {
        text-shadow: 2px 2px black;
        font-size: 20px;
        flex: 1;
        display: flex;
        justify-content: right;
        align-items: center;
    }

.state {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.mechanics {
    background-color: white;
    border: solid black 2px;
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.stats {
    font-size: 20px;
    flex: 1;
    display: flex;
    margin: auto;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

    .atk-hp {
        text-shadow: 2px 2px black;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: right;
    }

/* ========== Interface de l'opponent ========== */

#opponent-UI {
    background-image: url(../images/border_01.png);
    background-repeat: repeat-x;
    background-position: bottom;
    flex: 1.5;
    display: flex;
    flex-direction: row;
}

    #opponent-hand {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 20px;
        gap: 10px;
    }

    #opponent-UI-middle {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100%;
    }

        #opponent-UI-middle-left {
            background-image: url(../images/health.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 50%;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
        }

        #opponent-UI-middle-middle {
            background-repeat: no-repeat;
            background-position: center;
            background-size: 75%;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            cursor: pointer;
        }

        #opponent-UI-middle-right {
            background-image: url(../images/mana.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 50%;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
        }

    #img-middle {
        position: absolute;
    }

    #opponent-UI-right {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

/* ========== Interface du joueur ========== */

#player-UI {
    background-image: url(../images/border_02.png);
    background-repeat: repeat-x;
    background-position: top;
    flex: 2;
    display: flex;
    flex-direction: column;
}

#player-hand {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    gap: 20px;
}

/* ========== Board du jeu ========== */

#big-board {
    flex: 4;
    display: flex;
    background-image: url(../images/Environment_Westmarch.jpg);
    background-position: center;
    background-size: 100% 100%;
}

#board-middle {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    #opponent-board {
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
    }

    #status-text {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

        #status-left { flex: 1; }

        #status-middle {
            font-size: 20px;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        #status-right {
            flex: 1;
            display: flex;
            justify-content: right;
            align-items: center;
        }

    #player-board {
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
    }

/* ====================================================================== */
/* Player and Opponent HP, Mana, etc. */
/* ====================================================================== */

#board-left {
    background-color: rgba(0, 0, 0, 0.2);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#player-status {
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

    #player-name {
        font-size: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #player-hp {
        background-image: url(../images/health.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;;
    }

    #player-mana  {
        background-image: url(../images/mana.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #hero-power {
        /*background-image: url(../images/hero_power_on.png);*/
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-bottom: 20px;
    }

/* ====================================================================== */
/* Player & Opponent cards left in deck */
/* ====================================================================== */

#board-right {
    background-color: rgba(0, 0, 0, 0.2);
    flex: 1;
    display: flex;
    flex-direction: column;
}

    #opponent-cards-in-deck {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #opponent-card-left {
            background-color: darkgreen;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #opponent-card-middle {
            background-image: url(../images/card_back.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100%;
        }

        #opponent-card-right {
            font-size: 20px;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    #player-cards-in-deck {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #player-card-left {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #player-card-middle {
            background-image: url(../images/card_back.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100%;
        }

        #player-card-right {
            font-size: 20px;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

/* ====================================================================== */
/* End Turn */
/* ====================================================================== */

#end-turn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #btn-end-turn {
        background-image: url("../images/btn_endturn_off.png");
        width: 174px;
        height: 51px;
        display: block;
        align-self: center;
        border: 0;
        cursor: pointer;
    }

    #btn-end-turn:hover {
        background-image: url("../images/btn_endturn_on.png");
    }

#chat {
    display: none;
    position: absolute;
    top: 25%;
    left: 29%;
}