* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url(../images/background_01.jpg);
    color: white;
    height: 100%;
}

body {
    height: 100%;
}

#game {
    background-image: url(../images/Environment_Darkwood.jpg);
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ========== Interface de l'opponent ========== */

#opponent-UI {
    background-color: rgba(0, 0, 0, 0.5);
    flex: 1;
    display: flex;
    flex-direction: row;
}

    #opponent-cards-in-hand {
        flex: 1;

        display: flex;
        justify-content: left;
        align-items: center;

        background-image: url(../images/Small_Card_Back.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50px 90px;
    }

    #opponent-status {
        flex: 1;

        display: flex;
        flex-direction: row;
    }

        #opponent-hp {
            display: flex;
            justify-content: center;
            align-items: center;

            background-image: url(../images/life.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 80px 80px;
            flex: 1;
        }

        #opponent-image {
            display: flex;
            justify-content: center;
            align-items: center;

            flex: 2;
        }

        #opponent-mana {
            display: flex;
            justify-content: center;
            align-items: center;

            background-image: url(../images/mana.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 80px 80px;

            flex: 1;
        }

    #opponent-cards-in-deck {
        flex: 1;

        display: flex;
        justify-content: center;
        align-items: center;

        background-image: url(../images/Small_Card_Back_No_Logo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70px 110px;
    }

/* ========== Board du jeu ========== */

#board {
    flex: 5;

    display: flex;
    justify-content: center;
    align-items: center;
}

    #opponent-board {
        flex: 2;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #status-text {
        flex: 1;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #player-board {
        flex: 2;

        display: flex;
        justify-content: center;
        align-items: center;
    }

/* ========== Interface du joueur ========== */

#player-UI {
    background-color: rgba(0, 0, 0, 0.5);
    flex: 2;
    display: flex;
    flex-direction: row;
}

    #player-status {
        flex: 1;

        display: flex;
        flex-direction: column;
    }

        #player-hp {
            flex: 1;

            display: flex;
            justify-content: center;
            align-items: center;

            background-image: url(../images/life.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50px 50px;
        }

        #player-mana {
            flex: 1;
            
            display: flex;
            justify-content: center;
            align-items: center;

            background-image: url(../images/mana.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50px 50px;
        }

        #player-cards-in-deck {
            flex: 1;
            
            display: flex;
            justify-content: center;
            align-items: center;

            background-image: url(../images/Small_Card_Back_No_Logo.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50px 70px;
        }

    #player-cards-in-hand {
        flex: 4;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        padding: 20px;
    }

    /* ========== Cartes ========== */

    .cards {
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 10%;
        background-color: lightslategray;
    }

        .cards .cost {
            flex: 1;
            text-align: left;
        }

        .cards .img {
            flex: 2;
            text-align: center;
        }

        .cards .id {
            flex: 1;
            text-align: center;
        }

        .cards .mechanics {
            flex: 2;
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
        }

        .cards .stats {
            flex: 1;
            display: flex;
            flex-direction: row;
        }

            .cards .stats .atk {
                flex: 1;
                text-align: left;
            }

            .cards .stats .hp {
                flex: 1;
                text-align: right;
            }

    #power-turn-timer {
        flex: 1;

        display: flex;
        flex-direction: column;
    }

        #hero-power {
            flex: 1;

            display: flex;
            justify-content: center;
            align-items: center;
        }

            #btn-hero-power {
                background-image: url("../images/btn_hero_power_off.png");
                width: 174px;
                height: 51px;
                display: block;
                align-self: center;
                border: 0;
                cursor: pointer;
            }

            #btn-hero-power:hover {
                background-image: url("../images/btn_hero_power_on.png");
            }

        #end-turn {
            flex: 1;

            display: flex;
            justify-content: center;
            align-items: center;
        }

            #btn-end-turn {
                background-image: url("../images/btn_end_turn_off.png");
                width: 174px;
                height: 51px;
                display: block;
                align-self: center;
                border: 0;
                cursor: pointer;
            }

            #btn-end-turn:hover {
                background-image: url("../images/btn_end_turn_on.png");
            }

        #timer {
            flex: 1;

            display: flex;
            justify-content: center;
            align-items: center;
        }